@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

button {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .4px;
}

.buttonAdd {
  background-color: #10c000;
  color: #FFF;
  font-weight: bold;
  width: 74px;
  border: 2px solid #111;
  border-radius: 6px;
  cursor: pointer;
}

.buttonDelete {
  background-color: transparent;
  color: #Eb2A2A;
  border: none;
  cursor: pointer;
}

.buttonDetails {
  background-color: transparent;
  border: none;
  color: #222;
  margin-right: 44px;
  cursor: pointer;
}

@media (max-width: 860px) {

  .buttonAdd {
    width: auto;
    padding: 10px;
  }

  .buttonDetails {
    margin-right: 16px;
  }
}